h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 55px;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: gray;
}

body {
    background: #f6f9f9;
    text-align: center;
}

.outside {
    max-width: 1186px;
    min-width: 392px;
    display: block;
    margin: auto;
}

#outin {
    position: relative;
}

.in2 {
    display: inline-block;
    margin: 16px;
    position: relative;
}

.pick {
    min-width: 360px;
    min-height: 260px;
    border-radius: 5px;
}

#pick1 {
    background: url("../images/pick1.gif") no-repeat center;
    background-size: cover;
}

#pick2 {
    background: url("../images/pick2.gif") no-repeat center;
    background-size: cover;
}

#pick3 {
    background: url("../images/pick3.gif") no-repeat center;
    background-size: cover;
}

#pick4 {
    background: url("../images/pick4.gif") no-repeat center;
    background-size: cover;
}

#pick5 {
    background: url("../images/pick5.gif") no-repeat center;
    background-size: cover;
}

#pick6 {
    background: url("../images/pick6.gif") no-repeat center;
    background-size: cover;
}


div.pickin:hover {
    background-color: rgba(61, 173, 248, 0.8);
}

.pickin {
    position: absolute;
    top: 0;
    right: 0;
    left: 0px;
    bottom: 0;
    border-radius: 5px;
    line-height: 300px;
    vertical-align: center;
}

input[type=radio] {
    display: none;
}

input[type=checkbox] {
    display: none;
}

.pickinin {
    display: none;
    width: 15px;
    height: 15px;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
}

.pickinin1 {
    background: url("../images/lupa.gif") no-repeat center;
}

.pickinin2 {
    background: url("../images/link.gif") no-repeat center;
}

.pickin:hover > label.pickinin {
    display: inline-block;
}

.pickinin1:hover {
    background: url("../images/lupa.gif") no-repeat center;
    background-color: #25a6f7;
}

.pickinin2:hover {
    background: url("../images/link.gif") no-repeat center;
    background-color: #25a6f7;
}


#boxer1 {
    background: url("../images/pick1.gif") no-repeat center;
    background-size: 100% auto;
}

#boxer2 {
    background: url("../images/pick2.gif") no-repeat center;
    background-size: 100% auto;
}

#boxer3 {
    background: url("../images/pick3.gif") no-repeat center;
    background-size: 100% auto;
}

#boxer4 {
    background: url("../images/pick4.gif") no-repeat center;
    background-size: 100% auto;
}

#boxer5 {
    background: url("../images/pick5.gif") no-repeat center;
    background-size: 100% auto;
}

#boxer6 {
    background: url("../images/pick6.gif") no-repeat center;
    background-size: 100% auto;
}

.x {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #25a6f7;
    z-index: -1;
    line-height: 35px;
    vertical-align: middle;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.x:hover {
    background: #f74c26;
}


.butt:checked ~ .boxer {
    display: block;
    z-index: 5;
}

.butt:checked ~ .x {
    display: block;
    z-index: 5;
}

@media screen and (min-width: 1200px) {

    .boxer {
        position: absolute;
        display: none;
        width: 1146px;
        height: 550px;
        z-index: -5;
        border: 3px solid #999999;
        border-radius: 5px;
    }

    #boxer1 {
        top: 0;
        left: 0;
    }
    #boxer2 {
        top: 0;
        left: -396px;
    }
    #boxer3 {
        top: 0;
        right: 0;
    }
    #boxer4 {
        left: 0;
        bottom: 0;
    }
    #boxer5 {
        left: -396px;
        bottom: 0;
    }
    #boxer6 {
        right: 0;
        bottom: 0;
    }

    #x11 {
        right: -772px;
        top: -20px;
    }
    #x21 {
        top: -20px;
        right: -376px;
    }
    #x31 {
        right: 20px;
        top: -20px;
    }
    #x41 {
        right: -772px;
        top: -312px;
    }
    #x51 {
        top: -312px;
        right: -376px;
    }
    #x61 {
        right: 20px;
        top: -312px;
    }
}

@media screen and (max-width: 1199px) {

    .boxer {
        position: absolute;
        display: none;
        width: 750px;
        height: 367px;
        z-index: -5;
        border: 3px solid #999999;
        border-radius: 5px;
    }

    #boxer1 {
        top: 0;
        left: 0;
    }
    #boxer2 {
        top: 0;
        left: -396px;
    }
    #boxer3 {
        top: -296px;
        left: 0;
    }
    #boxer4 {
        top: -296px;
        left: -396px;
    }
    #boxer5 {
        left: 0;
        top: -593px;
    }
    #boxer6 {
        left: -396px;
        top: -593px;
    }

    #x11 {
        right: -376px;
        top: -20px;
    }
    #x21 {
        top: -20px;
        right: 20px;
    }
    #x31 {
        right: -376px;
        top: -316px;
    }
    #x41 {
        right: 20px;
        top: -316px;
    }
    #x51 {
        top: -613px;
        right: -376px;
    }
    #x61 {
        right: 20px;
        top: -613px;
    }
}