/*task2*/

div#inner2 {
    position: absolute;
    left: 50px;
    top: 50px;
    right: 210px;
    height: 91px;
    min-width: 1000px;
    background: linear-gradient(to bottom, #ffbf24, #ff823f)
}

div#border2 {
    border: 46px solid white;
    border-left: 40px solid transparent;
    border-right: 100px solid white;
    position: absolute;
    right:  40px;
    margin-right: -140px;
}

#text2 {
    position: absolute;
    margin: 5px 10px;
    font-size: 32px;
    left: 0;
    top: 0;
    right: 0;
    min-width: 82%;
}

#button2 {
    position: absolute;
    right: 40px;
    margin: 5px 10px;
    font-size: 25px;
    padding: 5px;
}

p {
    font-size: 25px;
    position: absolute;
    top: 28px;
    left: 0;
    margin-left: 10px;
}

span#sov {
    border-bottom: 1px dashed black;
}