/* latin-ext */
@font-face {
    font-family: 'Economica';
    font-style: normal;
    font-weight: 400;
    src: local('Economica'), local('Economica-Regular'), url(http://fonts.gstatic.com/s/economica/v4/ivOlup5oBnODGd64nVDAFBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Economica';
    font-style: normal;
    font-weight: 400;
    src: local('Economica'), local('Economica-Regular'), url(http://fonts.gstatic.com/s/economica/v4/jObgDQiPUtmACAaaK3pMG1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
    font-family: 'Economica';
    font-style: normal;
    font-weight: 700;
    src: local('Economica Bold'), local('Economica-Bold'), url(http://fonts.gstatic.com/s/economica/v4/UK4l2VEpwjv3gdcwbwXE9D0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Economica';
    font-style: normal;
    font-weight: 700;
    src: local('Economica Bold'), local('Economica-Bold'), url(http://fonts.gstatic.com/s/economica/v4/UK4l2VEpwjv3gdcwbwXE9Ogdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/* task1 */
.r123 {
    height: auto;
    background: purple;
    box-shadow: 0 0 3px;

}

.container1 {
    margin: auto;
    background: purple;
    height: auto;
    width: 900px;
    margin-top: 10px;
    text-align: justify;
}

.column {
    display: inline-block;

}

.column-1 {
    font-family: Economica;
    font-size: 20px;
    color: white;
    padding: 0 37px;
}

.column-1:hover {
    background: lightgrey;
    color: grey;
}

/* task2 */
.container12 {
    background: purple;
    height: auto;
    width: 900px;
    position:absolute;
    left: 50%;
    margin-left: -450px;
}

.column2 {
    float: left;
}

.column-12 {
    font-family: Economica;
    font-size: 20px;
    color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.column-22 {
    margin-left: 50px;
}

.column-12:hover {
    background: lightgrey;
    color: grey;
}

.column3 {
    float: right;
}

.re123 {
    box-shadow: 0 0 3px;
    background: purple;
    height: 33px;
}


/* task3 */

.container3 {
    background: #e5e5e5;
    height: auto;
    width: auto;
    float: left;
    position: absolute;
    left: 50%;
    margin-left: -320px;
}

.peger {
    font-family: Economica;
    font-size: 20px;
    color: purple;
    padding: 5px;
    margin:5px;
    float: left;
}

.butt + label {
    border: 1px solid grey;
    background: #e5e5e5;
    border-radius: 5px;
    font-family: Economica;

    width: 20px;
    height: 20px;
    float: left;
    padding: 3px;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 8px;
    color: purple;
    transition: background-color .5s;
}

.butt + label:hover {
    border: 1px solid #6c006c;
    background: #980098;
    color: white;
}

.peger:hover {
    color: white;
    background: #980098;
}

input.butt:checked + label {
    border: 1px solid #6c006c;
    background: #980098;
    color: white;
}

input[type=radio]{
    display: none;
}
