/* latin-ext */
@font-face {
    font-family: 'Economica';
    font-style: normal;
    font-weight: 400;
    src: local('Economica'), local('Economica-Regular'), url(http://fonts.gstatic.com/s/economica/v4/ivOlup5oBnODGd64nVDAFBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Economica';
    font-style: normal;
    font-weight: 400;
    src: local('Economica'), local('Economica-Regular'), url(http://fonts.gstatic.com/s/economica/v4/jObgDQiPUtmACAaaK3pMG1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
    font-family: 'Economica';
    font-style: normal;
    font-weight: 700;
    src: local('Economica Bold'), local('Economica-Bold'), url(http://fonts.gstatic.com/s/economica/v4/UK4l2VEpwjv3gdcwbwXE9D0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Economica';
    font-style: normal;
    font-weight: 700;
    src: local('Economica Bold'), local('Economica-Bold'), url(http://fonts.gstatic.com/s/economica/v4/UK4l2VEpwjv3gdcwbwXE9Ogdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/* task3 */

.container3 {
    background: #e5e5e5;
    height: auto;
    width: auto;
display: inline-block;
    margin: auto;
}

.peger, .peger + label {
    font-family: Economica;
    font-size: 20px;
    color: purple;
    padding: 5px;
    margin:5px;
display: inline-block;
}

.butt + label, .e4 {
    border: 1px solid grey;
    background: #e5e5e5;
    border-radius: 5px;
    font-family: Economica;

    width: 20px;
    height: 20px;
    display: inline-block;
    padding: 3px;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 8px;
    color: purple;
    transition: background-color .5s;
}

.butt + label:hover {
    border: 1px solid #6c006c;
    background: #980098;
    color: white;
}

.peger:hover, .peger + label:hover {
    color: white;
    background: #980098;
}

input.butt:checked + label {
    border: 1px solid #6c006c;
    background: #980098;
    color: white;
}

input[type=radio]{
    display: none;
}

ul {
    list-style: none;
display: inline-block;
    vertical-align: top;
}


input.peger:checked + label.butt {
    display: none;
}
