div {
    width: 350px;
    font-size: 60px;
}

p {
    width: 100%;
    font-family: Arial, san-serif;
    font-weight: 500;
    margin: 10px 0;
    text-align-last: justify;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    color: transparent;
}

hr {
    color: rgba(255, 0, 0, 0.63);
    height: 1px;
    border: 0;
    background: rgba(255, 0, 0, 0.62);
    margin: auto;
}

p#s1 {
    font-size: 1.4em;
}
p#s2 {
    font-size: 1.1em;
}
p#s3 {
    font-size: 1.0em;
}
p#s4 {
    font-size: 0.9em;
}
p#s5 {
    font-size: 0.8em;
}
p#s6 {
    font-size: 0.7em;
}
p#s7 {
    font-size: 0.6em;
}
p#s8 {
    font-size: 0.5em;
}
p#s9 {
    font-size: 0.4em;
}
p#s10 {
    font-size: 0.3em;
}
p#s11 {
    font-size: 0.2em;
}
p#s12 {
    font-size: 0.1em;
}