/* latin-ext */
@font-face {
    src: url(http://fonts.googleapis.com/css?family=Economica:400,700);
    font-family: "Economica";
    font-style: normal;
    font-weight: 400;
    src: local("Economica"), local("Economica-Regular"), url(http://fonts.gstatic.com/s/economica/v4/ivOlup5oBnODGd64nVDAFBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    src: url(http://fonts.googleapis.com/css?family=Economica:400,700);
    font-family: "Economica";
    font-style: normal;
    font-weight: 400;
    src: local("Economica"), local("Economica-Regular"), url(http://fonts.gstatic.com/s/economica/v4/jObgDQiPUtmACAaaK3pMG1tXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
    src: url(http://fonts.googleapis.com/css?family=Economica:400,700);
    font-family: "Economica";
    font-style: normal;
    font-weight: 700;
    src: local("Economica Bold"), local("Economica-Bold"), url(http://fonts.gstatic.com/s/economica/v4/UK4l2VEpwjv3gdcwbwXE9D0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    src: url(http://fonts.googleapis.com/css?family=Economica:400,700);
    font-family: "Economica";
    font-style: normal;
    font-weight: 700;
    src: local("Economica Bold"), local("Economica-Bold"), url(http://fonts.gstatic.com/s/economica/v4/UK4l2VEpwjv3gdcwbwXE9Ogdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*task*/
.border01 {
    border: 1px solid lightgray;
    width: auto;
    height: auto;
    position: absolute;
    border-radius: 6px;
    top: 50px;
    left: 50px;
}

.border02 {
    border: 1px solid lightgray;
    width: auto;
    height: auto;
    position: absolute;
    border-radius: 6px;
    top: 55px;
    left: 320px;
    z-index: 2;
}

.border03 {
    border: 1px solid lightgray;
    width: auto;
    height: auto;
    position: absolute;
    border-radius: 6px;
    top: 60px;
    left: 590px;
}

.border1 {
    border: 3px solid transparent;
    border-radius: 5px;
    width: 280px;
    box-shadow: 0 0 10px transparent;
    position: relative;
    background-color: white;
}

.border1:hover {
    border-color: #37c2d3;
    box-shadow: 0 0 10px black;
    z-index: 3;
}

.border01:hover, .border02:hover, .border03:hover {
    border: 1px solid transparent;
}

.border2 {
    border: 3px solid transparent;
    border-radius: 5px;
    width: 280px;
    box-shadow: 0 0 10px transparent;
    position: relative;
    background-color: white;
}

.border2:hover {
    border-color: #ec8136;
    box-shadow: 0 0 10px black;
    z-index: 3;
}

.border3 {
    border: 3px solid transparent;
    border-radius: 5px;
    width: 280px;
    box-shadow: 0 0 10px transparent;
    position: relative;
    background-color: white;
}

.border3:hover {
    border-color: #1cb79a;
    box-shadow: 0 0 10px black;
    z-index: 3;
}

.head1 {
    position: absolute;
    top: -3px;
    left: -3px;
    height: 75px;
    width: 286px;
    background-color: #37c2d3;
    color: white;
    font-family: Economica;
    font-size: 25px;
    text-align: center;
    line-height: 75px;
    vertical-align: middle;
    border-radius: 5px;
}

.head2 {
    position: absolute;
    top: -3px;
    left: -3px;
    height: 75px;
    width: 286px;
    background-color: #ec8136;
    color: white;
    font-family: Economica;
    font-size: 25px;
    text-align: center;
    line-height: 75px;
    vertical-align: middle;
    border-radius: 5px;
}

.head3 {
    position: absolute;
    top: -3px;
    left: -3px;
    height: 75px;
    width: 286px;
    background-color: #1cb79a;
    color: white;
    font-family: Economica;
    font-size: 25px;
    text-align: center;
    line-height: 75px;
    vertical-align: middle;
    border-radius: 5px;
}

.butt1 {
    font-family: Economica;
    background-color: #3371a6;
    width: 86%;
    font-size: 20px;
    height: 40px;
    margin: 5px 7%;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    box-shadow: 0 3px 0 #16436a;
    margin-bottom: 10px;
    margin-top: 20px;
}

.butt2 {
    font-family: Economica;
    background-color: #ec8136;
    width: 86%;
    font-size: 20px;
    height: 40px;
    margin: 5px 7%;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    box-shadow: 0 3px 0 #b1561b;
    margin-bottom: 10px;
    margin-top: 20px;
}

.butt3 {
    font-family: Economica;
    background-color: #3371a6;
    width: 86%;
    font-size: 20px;
    height: 40px;
    margin: 5px 7%;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    box-shadow: 0 3px 0 #16436a;
    margin-bottom: 10px;
    margin-top: 20px;
}

.h1 {
    font-family: Economica;
    font-size: 25px;
    text-align: center;
    padding: 10px 0;
}

.tab {
    font-family: Economica;
    width: 90%;
    background-color: red;
    padding: 3px;
    text-align: left;
    margin: 1px 4%;
    vertical-align: middle;
}

.tab1 {
    background-color: antiquewhite;
}

.tab2 {
    background-color: rgba(0, 255, 255, 0.31);
}

.doll1 {
    font-family: Economica;
    font-size: 30px;
    position: absolute;
    left: 60px;
}

.doll2 {
    font-family: Economica;
    font-size: 80px;
    position: absolute;
    left: 75px;
}

.doll3 {
    font-family: Economica;
    font-size: 25px;
    position: absolute;
    left: 140px;
    top: 60px;
}