/* latin-ext */
@font-face {
    src: url(http://fonts.googleapis.com/css?family=Economica:400,700);
    font-family: "Economica";
    font-style: normal;
    font-weight: 400;
    src: local("Economica"), local("Economica-Regular"), url(http://fonts.gstatic.com/s/economica/v4/ivOlup5oBnODGd64nVDAFBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    src: url(http://fonts.googleapis.com/css?family=Economica:400,700);
    font-family: "Economica";
    font-style: normal;
    font-weight: 400;
    src: local("Economica"), local("Economica-Regular"), url(http://fonts.gstatic.com/s/economica/v4/jObgDQiPUtmACAaaK3pMG1tXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
    src: url(http://fonts.googleapis.com/css?family=Economica:400,700);
    font-family: "Economica";
    font-style: normal;
    font-weight: 700;
    src: local("Economica Bold"), local("Economica-Bold"), url(http://fonts.gstatic.com/s/economica/v4/UK4l2VEpwjv3gdcwbwXE9D0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    src: url(http://fonts.googleapis.com/css?family=Economica:400,700);
    font-family: "Economica";
    font-style: normal;
    font-weight: 700;
    src: local("Economica Bold"), local("Economica-Bold"), url(http://fonts.gstatic.com/s/economica/v4/UK4l2VEpwjv3gdcwbwXE9Ogdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*task2*/

body {
    background: url('image/back.jpg');
    background-repeat: repeat-x;
}

div#flex {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div#h1 {
    text-align: center;
    margin-bottom: 50px;
    z-index: 6;
}

strong {
    font-family: Economica;
    font-size: 45px;
}

strong#head1 {
    color: #ee8129;
}

strong#head2 {
    color: #3170a8;
}

.flex-block {
    height: 100px;
    z-index: 5;
}


div#flex1 {
    content: url("image/girl.jpg");
    width: 100px;
    height: 100px;
}

div#flex4 {
    content: url("image/man.jpg");
    width: 100px;
    height: 100px;
}

div#flex2, div#flex5 {
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-right: 8px solid white;
    padding-left: 8px;
}

div#flex3, div#flex6 {
    height: 100px;
    width: 370px;
    min-width: 370px;
    background: white;
    position: relative;
}

#flex3 {
    margin-right: 20px;
}

p {
    font-family: Economica;
    margin: 5px 10px;
    padding: 0;
    font-size: 16px;
}

.bluel {
    color: blue;
    position: absolute;
    left: 10px;
}

.bluer {
    position: absolute;
    right: 10px;
    color: blue;
}

#paranja {
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    height: 315px;
    background-color: #16436a;
    opacity: 0.7;
    z-index: -10;
}