#inn1, #inn2 {
    padding: 10px 0 10px 10px;
}
div#main1, div#main3 {
    float: left;
    width: calc(50% - 20px);
}
div#main2, div#main4 {
    float: right;
    width: calc(50% - 20px);
}
.pick {
    content: url("http://lorempixel.com/85/85/people/");
    width: 85px;
    height: 85px;
    float: none;
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
}
.inn {
    vertical-align: top;
    font-size: 14px;
}
.text {
    color: #959595;
    width: calc(100% - 135px);
    text-align: justify;
    float: none;
    display: inline-block;
    vertical-align: top;
}
div.text > sup {
    color: #637f83;
    font-size: 22px;
}
div#between {
    display: inline-block;
    text-align: center;
    height: 30px;
    width: 100%;
    background: white;
}
.more {
    color: #e4551d;
    font-size: 14px;
}
.more:hover {
    text-decoration: underline;
}